---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
import MainSection from "@/components/ui/blocks/MainSection.astro";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <span id="home"></span>
  <HeroSection
    title=`Especialistas en reparación y venta de <span
        class="text-yellow-500 dark:text-yellow-400">maquinaria</span>`
    subTitle="50 años dedicados a la reparación y venta de maquinaria de construcción, jardinería, caravaning y generadors."
    primaryBtn="Contacta con nosotros"
    primaryBtnURL="#contacto"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.9</span> / 5`
    starCount={4}
    src={heroImage}
    alt="Motor de alta potencia ideal para maquinaria de construcción y jardinería"
  />

  <span id="servicios"></span>
  <FeaturesGeneral
    title=`Estos son los <span class="text-yellow-500 dark:text-yellow-400">Servicios</span> que tenemos para ti`
    subTitle=""
    alt="Servicios en cajas flotantes"
    features={features}
  />

  <ClientsSection
    title="Respaldados por los líderes del sector"
    subTitle="Servicio Técnico Oficial de:"
  />

  <FeaturesNavs
    title=`Estos son los <span class="text-yellow-500 dark:text-yellow-400">Servicios</span> que ofrecemos para ti`
    tabs={[
      {
        heading: "Reparaciones y mantenimiento",
        content:
          `Servicio técnico oficial multimarca, ofrecemos repuestos originales, garantizando rapidez, calidad y fiabilidad para que tu maquinaria siempre esté operativa.`,
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Coche Taller",
        content: "Disponemos de taller móvil para realizar reparaciones rápidas y eficaces directamente en el lugar donde se encuentre tu maquinaria.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
      },
      {
        heading: "Ventas y asesoramiento",
        content:
          "Descubre nuestra amplia gama de generadores, maquinaria forestal y de jardinería, equipos de construcción y accesorios para caravaning.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
      },
      {
        heading: "Automatismos",
        content:
          "Soluciones innovadoras para optimizar procesos y garantizar resultados eficientes.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },

    ]}
  />

  <span id="equipo"></span>
  <HeroSectionAlt
    title="Empresa"
    subTitle="Fills de Rocha i López fue fundada en 1966 por Antonio Rocha Palou, comenzando con la reparación y venta de maquinaria agrícola y de jardinería. En 1990, su hijo Antonio Rocha López asumió la dirección, ampliando los servicios a generadores, automatización y maquinaria de obra pública. La empresa se consolidó como referente en el sector y actualmente, Sergi Rocha, hijo de Antonio, ha tomado el relevo, modernizando el taller y adaptándose a las nuevas tecnologías. Su enfoque innovador ha permitido a la empresa mantenerse a la vanguardia del sector."
  />

  <MainSection
  title="Empresa con más de 50 años de experiencia"
  subTitle="Fills de Rocha i López fue fundada en 1966 por Antonio Rocha Palou, comenzando con la reparación y venta de maquinaria agrícola y de jardinería. En 1990, su hijo Antonio Rocha López asumió la dirección, ampliando los servicios a generadores, automatización y maquinaria de obra pública."
  subTitle2="La empresa se consolidó como referente en el sector y actualmente, Sergi Rocha, hijo de Antonio, ha tomado el relevo, modernizando el taller y adaptándose a las nuevas tecnologías. Su enfoque innovador ha permitido a la empresa mantenerse a la vanguardia del sector."
  btnExists={true}
  btnTitle="Contacta con nosotros"
  btnURL="#contacto"
/>


<!-- Team -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Title -->
  <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Nuestro equipo</h2>
  </div>
  <!-- End Title -->

  <!-- Grid -->
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-8 md:gap-12">
    <div class="text-center">
      <img class="rounded-xl sm:size-48 lg:size-60 mx-auto" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">
      <div class="mt-2 sm:mt-4">
        <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg dark:text-neutral-200">
          David Forren
        </h3>
        <p class="text-xs text-gray-600 sm:text-sm lg:text-base dark:text-neutral-400">
          Founder / CEO
        </p>
      </div>
    </div>
    <!-- End Col -->

    <div class="text-center">
      <img class="rounded-xl sm:size-48 lg:size-60 mx-auto" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">
      <div class="mt-2 sm:mt-4">
        <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg dark:text-neutral-200">
          Amil Evara
        </h3>
        <p class="text-xs text-gray-600 sm:text-sm lg:text-base dark:text-neutral-400">
          UI/UX Designer
        </p>
      </div>
    </div>
    <!-- End Col -->

    <div class="text-center">
      <img class="rounded-xl sm:size-48 lg:size-60 mx-auto" src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">
      <div class="mt-2 sm:mt-4">
        <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg dark:text-neutral-200">
          Ebele Egbuna
        </h3>
        <p class="text-xs text-gray-600 sm:text-sm lg:text-base dark:text-neutral-400">
          Support Consultant
        </p>
      </div>
    </div>
    <!-- End Col -->

    <div class="text-center">
      <img class="rounded-xl sm:size-48 lg:size-60 mx-auto" src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">
      <div class="mt-2 sm:mt-4">
        <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg dark:text-neutral-200">
          Maria Powers
        </h3>
        <p class="text-xs text-gray-600 sm:text-sm lg:text-base dark:text-neutral-400">
          Director of sales
        </p>
      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Team -->
      

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At ScrewFast, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    ;
    testimonials={[
      {
        content:
          "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  />


  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <span id="contacto"></span>
  
</MainLayout>
